@import '../../vendor/schulit/common-bundle/Resources/assets/css/bootstrap.scss';

// Import Bootstrap
@import '~bootstrap/scss/bootstrap';

// Import (and override) variables
@import '../../vendor/schulit/common-bundle/Resources/assets/css/variables.scss';

// Import FontAwesome
@import '../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome';
@import '../../node_modules/@fortawesome/fontawesome-free/scss/solid';
@import '../../node_modules/@fortawesome/fontawesome-free/scss/regular';
@import '../../node_modules/@fortawesome/fontawesome-free/scss/brands';

// Import SchulIT design
@import '../../vendor/schulit/common-bundle/Resources/assets/css/layout.scss';
@import '../../vendor/schulit/common-bundle/Resources/assets/css/callouts.scss';
@import '../../vendor/schulit/common-bundle/Resources/assets/css/div-tables.scss';
@import '../../vendor/schulit/common-bundle/Resources/assets/css/swagger.scss';

// Import choices.js
@import '../../node_modules/choices.js/src/styles/choices';
@import '../../vendor/schulit/common-bundle/Resources/assets/css/choices-fixes.scss';
@import '../../vendor/schulit/common-bundle/Resources/assets/css/dark/choices';

.form-group {
    .#{$choices-selector} {
        margin-bottom: 0 !important;
        position: relative;
        flex: 1 1 0%;
        min-width: 0;
    }
}

.choices {
    margin-bottom: 0 !important;
}
