controllers:
    resource:
        path: ../src/Controller/
        namespace: App\Controller
    type: attribute

composer:
    resource: "@ComposerDependencyListBundle/Controller"
    type: attribute
    prefix: /dependencies
